
<app-header [title]="receivedText || 'Default Title'"></app-header>
<body>
    <section *ngIf="receivedText==='Tubork Complex'" class="project-description">
     
      <p>
        Residential buildings with many changes all over the years since the 60's in a narrow walled plot.
        This complex will become a part of Netanya's vibrant city center from Ben Zvi avenue all over.
      </p>
      <p>
        The Tubork project will include a tower of 28 floors and a building of 8 floors. The green square
        between the two buildings will link the governmental area in the south to the north side of the
        complex via Rabi Meshulam street.
      </p>
      <p>
        This new development program will encourage old buildings destruction and lead this area to become
        a prestigious complex.
      </p>
    </section>
  </body>
  